.home {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* overlay sınıfı kaldırıldı */

.home .content {
  position: relative;
  z-index: 2; /* İçeriği öne çıkarma */
  text-align: center;
  padding: 20px;
  width: 100%;
  max-width: 1200px;
  margin: 20px;
  background-color: transparent; /* Şeffaf kutu kaldırıldı */
}
