.contact-container {
  margin-top: 20px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.6); /* Şeffaf arka plan */
  border-radius: 10px;
}

.contact-form {
  margin-top: 20px;
}

.contact-alternatives {
  text-align: center;
  margin-top: 20px;
}

.contact-alternatives button {
  margin-top: 10px;
}

.contact-alternatives p {
  margin-top: 20px;
}

.contact-form .MuiBox-root {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-form .MuiButton-root {
  margin-top: 0; /* Butonların hizalanmasını sağlamak için */
}
